<<<<<<< HEAD
* {
	margin: 0;
	font-family: Muli;
	font-style: normal;
}
input[type=button]{
	width: auto;
	padding: 1em 2rem;
	background: #F6AE2D;
	color: #FFFFFF;
	border: none;
}
.count {
 font-size: 16px;
 color: red;

}
/*.count div p {
	display: inline;
	width: 20%;
	font-size: 16px;

}*/
.counter {
	background: #0D3644;
	padding: 3rem 0;
}
.counter p {
	width: 40%;
}
.counter div {
	/*width: 40%;*/
	/*padding-left: 20%;
	font-weight: bold;
	font-size: 24px;
	line-height: 44px;
	color: #FFFFFF;*/
}

.sign-up {

	text-align: center;
	width: 100%;
	line-height: 4em;
	left: 0px;
	padding: 3em 0;
	text-align: center;
	background: rgba(243, 243, 243, 0.37);
}

 button {
	position: absolute;
	width: 79px;
	height: 24px;
	left: 681px;
	top: 4030px;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}
=======
body{
	max-width: 100%;
	margin: 0px;
}

	/*-------------------------------------------DEBUGGGER STARTS HERE-------------------------------------------
	-----------------------------------------------------------------------------------------------------------*/
@font-face{
	font-family: "Playfair Display";
	src: url('debuggerFonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype'); 
}
@font-face{
	font-family: "Muli";
	src: url('debuggerFonts/Muli-VariableFont_wght.ttf') format('truetype');
}
@font-face{
	font-family: "Lato";
	src: url('debuggerFonts/Lato-Bold.ttf') format('truetype');


		
}

.main {
	width: 80%;
	margin:0 auto;

}
.h-Atypical {
	font-family: Playfair Display;
	font-weight: bold;
	margin-bottom: 0px;
	color:#0d3644;
}
.rest {
	border-bottom: 1px solid #f6ae2d;
}
.atypical-Con {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

.Atypical{
	font-size: 16px;
	font-style: normal;
	line-height: 24px;
	padding: 2em 5em 5em 5em;
	font-family: Muli;
	text-align: justify;

}

.Suites{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: Playfair Display;
	margin: 70px 0px 70px 0px;
}

.roomSuites{
	flex: 1;
	font-family: Playfair Display;
	font-size: 32px;
	color:#0d3644;
	font-weight: bold;
	font-style: normal;
	line-height: 44px;
}

.suitesText {
	flex: 2;
	justify-content: flex-end;
	padding: 0px 0px 0px 500px;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	font-family: Muli;
	color:#0d3644;

}

.rooms{
	width:100%;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	flex-wrap: wrap;
}

.room1 {
	flex: 2;
	position: relative;
}

.room2 {
	flex: 1;
	position: relative;
}

.room3 {
	flex: 1;
	position: relative;
}

.Book1, .Book2, .Book3, .Book4, .Gold, .Stan, .Silver {
	position: absolute;
	color: white;
}

.Book1, .Book2, .Book3 {
	right: 5em;
	top: 2em;
	border: 1px solid white ;
	padding: 10px;
	font-family: Lato;
}

.Gold, .Stan, .Silver {
	bottom: 1em;
	left: 3em;
	font-family: Playfair Display;
	font-weight: bold;
	font-size: 24px;
	font-style: normal;
	line-height: 44px;
}
.rate {
	font-family: Lato;
	font-size: 14px;
	font-weight: bold;
	color: rgba(255,255,255,0.6);
}
/*-------------------------------------------DEBUGGGER ENDS HERE-------------------------------------------
	-----------------------------------------------------------------------------------------------------------*/
>>>>>>> e915b82b517fe410a437234e0db5b995e3b83f08

footer {

	background: #E5E5E5;
	color: #0D3644;
	display: flex;
	padding: .5rem 0;

}

footer div {
	width: 30%;
	padding-top: .33rem;
	text-align: center;
}

footer div h1 span {
	padding-top: 0;
	border-bottom: 2px solid #F6AE2D;
	text-align: center;
}